.button {
    min-width: 80px;
    height: 30px;
    border-radius: 4px;
    padding: 8px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}