$header-color: blue;
$header-text-color: white;
$background-image-header: linear-gradient(to top, #0b5b91 0%, #06486e 100%);
$red-color: #f52727;
$dark-red-color: #ca1c1c;
$button-text-color: white;
//$side-bar-color: #9dc0d6;
$side-bar-color: #eaeaea;