.root {
    button {
        color: #095281;
        font-weight: 700;
    }
}
.registration_block {
    margin-top: 20px;
    text-align: center;
    button {
        background-color: white;
        text-transform: uppercase;
        margin-left: 10px;
    }
}