.root {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            margin-top: 20px;
        }
    }
}

.file__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        margin-top: 10px;
        font-size: 15px;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}