.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.form_h1 {
    margin-top: 15px;
    font-size: 25px;
    color: red;
}

.form__wrapper {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    label {
        margin-top: 10px;
    }
    input {
        margin-top: 20px;
    }
    select {
        margin-top: 20px;
        background-color: #d3d3d3;
        width: 90%;
        height: 40px;
        border-radius: 3px;
        padding: 5%;
    }
    button {
        margin-top: 20px;
        width: 90%;
        height: 40px;
        border-radius: 5px;
        background-color: #5c78e2;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.form__name_field, .form__price_field{
    input {
        margin-top: 20px;
        width: 90%;
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;
        text-align: center;
    }
}