.root {
    font-size: 20px;
    //background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.device__name {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &_text {
        margin-left: 10px;
    }
}

.device__price {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    &_text {
        margin-left: 10px;
    }
}

.device__rating {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    &_text {
        margin-left: 10px;
    }
}

.device__img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 19px 0px rgba(48, 50, 50, 0.83);
    -moz-box-shadow:    4px 5px 19px 0px rgba(48, 50, 50, 0.83);
    box-shadow:         4px 5px 19px 0px rgba(48, 50, 50, 0.83);
    img {
        width: 100%;
        height: auto;
    }
}