@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.root {
    margin-top: 180px;
    text-align: center;
    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: #3f7792;
        font-weight: 900;
        font-family: 'Amatic SC', cursive;
    }
}
.root__img {
    margin-top: 40px;
    width: 800px;
    height: 500px;
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}