@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.root {
    margin-top: 180px;
    text-align: center;
    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: #3f7792;
        font-weight: 900;
        font-family: 'Amatic SC', cursive;
    }
}
.root__img {
    margin-top: 40px;
    width: 800px;
    height: 500px;
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}

@media (max-width: 900px) {
    .root {
        margin-top: 150px;
        h1 {
            font-size: 40px;
        }
    }
    .root__img {
        margin-top: 40px;
        width: 700px;
        height: 450px;
    }
}

@media (max-width: 650px) {
    .root {
        h1 {
            font-size: 30px;
        }
    }
    .root__img {
        width: 600px;
        height: 350px;
    }
}

@media (max-width: 500px) {
    .root {
        margin-top: 150px;
        h1 {
            font-size: 25px;
        }
    }
    .root__img {
        margin-top: 40px;
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 350px) {
    .root {
        margin-top: 150px;
        h1 {
            font-size: 20px;
        }
    }
    .root__img {
        margin-top: 40px;
        width: 300px;
        height: 200px;
    }
}