.root {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        
        button {
            margin-top: 20px;
        }
    }
}