.root {
    margin-top: 10px;
}

.admin__form {
    display: flex;
    flex-direction: column;
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        input {
            width: 200px;
            height: 20px;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}