.paginator {
    margin: 10px;
    display: flex;
    background-color: none;
    button {
        background-color: white;
    }
}
.pageNumber {
    margin: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #bfbfbf;
    color: white;
}

.pageNumber.selectedPage {
    margin-right: 20px;
    font-weight: bold;
    background-color: #949494;
    color: #313131;
}