.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        border: 1px solid black;
        width: 400px;
        height: 40px;
    }
    h1 {
        color:#cfffde;
        font-weight: 900;
    }
    button {
        margin-top: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        border-radius: 5px;
        margin-top: 20px;
        text-align: center;
    }
    label {
        margin-top: 20px;
        color: #2f2f2f;
    }
}