.root {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    input {
        border: 1px solid black;
    }
    h1 {
        color: red;
        font-weight: 900;
    }
}

.form {
    display: flex;
    flex-direction: column;
    input {
        border-radius: 5px;
    }
}