.root {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            width: 100px;
            margin-top: 20px;
            background-color: rgb(0, 30, 197);
            color: white;
            &:active, :focus {
                background-color: rgb(161, 4, 4);
            }

        }
    }
}