@import '../../styles/_variables';

.root {
    position: fixed;
    background-image: $background-image-header;
    width: 100%;
    height: 60px;
    color: $header-text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    z-index: 2;
    h1 {
        font-size: 20px;
    }
    a {
        font-size: 20px;
        color: white;
    }
}

.title__wrapper {
    display: flex;
    align-items: center;
    h1 {
        margin-left: 70px;
        text-transform: uppercase;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        animation: iconRotation infinite 3s ease-in-out;
    }
}

.info_block {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes iconRotation {
    50% {
        transform: scale(1.3);
    }
}

@media (max-width: 900px) {
    .root {
        padding-left: 0px;
        a {
            font-size: 18px;
        }
    }
}

@media (max-width: 650px) {
    .root {
        a {
            font-size: 15px;
        }
    }
    .title__wrapper {
        h1 {
            margin-left: 50px;
        }
        .icon {
            margin-left: 10px;
        }
    }
    .info_block {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .root {
        a {
            font-size: 15px;
        }
    }
    .title__wrapper {
        h1 {
            margin-left: 30px;
        }
        .icon {
            display: none;
        }
    }
    .info_block {
        width: 250px;
    }
    button {
        height: 25px;
    }
    .admin_block {
        button {
            height: 20px;
        }
    }
}

@media (max-width: 450px) {
    .root {
        a {
            font-size: 15px;
        }
    }
    .title__wrapper {
        display: none;
    }
    .info_block {
        width: 250px;
    }
    button {
        height: 25px;
    }
    .admin_block {
        button {
            height: 20px;
        }
    }
}