@import '../../styles/_variables';

.root {
    position: fixed;
    background-image: $background-image-header;
    width: 100%;
    height: 60px;
    color: $header-text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    z-index: 2;
    h1 {
        font-size: 20px;
    }
}

.info_block {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 550px) {
    .root {
        padding-left: 0px;
        justify-content: center;
        h1 {
            display: none;
        }
    }
}