.root {
    width: 100%;
    padding: 90px;
    display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
    flex-wrap: wrap;
	overflow-y: hidden;
}

.cards {
	max-width: 100%;
    display: flex;
	justify-content: left;
    flex-wrap: wrap;
}

.loading {
	margin-top: 100px;
}

.error {
	margin-top: 100px;
}

.pages {
	margin-top: 20px;
	width: 300px;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	color: red;
}

.items {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.items .item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: var(--spacer) 0;
}

.basket {
	display: flex;
	align-items: center;
	position: fixed;
	top: calc(2 * var(--spacer));
	right: calc(2 * var(--spacer));
	font-size: 2em;
	cursor: pointer;
}
.basket:before {
	content: "🛒";
	margin-right: calc(2 * var(--spacer));
}

.basket_content {
	user-select: none;
	display: none;
	flex-direction: column;
	position: absolute;
	right: var(--spacer);
	background: white;
	padding: calc(2 * var(--spacer));
	box-shadow: 0 0 var(--spacer) black;
	border-radius: var(--spacer);
	width: 200px;
	top: 40px;
	height: auto;
	display: none;
}
.basket_content .item {
	user-select: none;
	font-size: 14px;
	margin: calc(2 * var(--spacer)) 0;
	display: flex;
}
.basket_content .item .item_count {
	margin-right: calc(2 * var(--spacer));
	width: 40px;
	text-align: right;
}

.show_content {
	display: flex;
}

.block_open {
    width: 60px;
    height: 60px;
    display: block;
    background-color: red;
}

.block_close {
    @extend .block_open;
    display: none;
}