@import '../../styles/_variables';

.root {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $side-bar-color;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: white;
    }
}

@media (max-width: 600px) {
    .root {
        height: 115px;
    }
}