.modal__root {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close {
    display: none;
}

.modal__content {
    width: auto;
    height: auto;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: black;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}