.modal_open {
    width: 800px;
    height: 800px;
    background-color: rgba(1, 1, 1, .2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    display: block;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 20;
    left: 20;
}

.modal_close {
    @extend .modal_open;
    display: none;
}